:root {
  --maxWidth: 1440px;
  --white: #fff;
  --darkArancia: #1A0A00;
  --darkishArancia: #803300;
  --Arancia: #B24700;
  --lightArancia: #DFB99F;
  --yellowArancia: #F9D423;
  --lightBrown: #8C6B5B;
  --lightPink: #E7D1C9;
  --fontSuperBig: 2.5rem;
  --fontBig: 1.5rem;
  --fontMed: 1.2rem;
  --fontSmall: 1rem;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-title {
  text-align: center;
  margin: 100px 0px 30px 0px;
}

.project {
  padding: 20px;
  margin: 20px;
  background-color: var(--white);
  border-radius: 20px;
  text-align: center;
}

body {
 margin: 0;
 padding: 0;
 background-color: #FFFAF0;
}

h1 {
   font-size: 2rem;
   font-weight: 700;
   color: var(--darkishArancia);
}

h2 {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--darkishArancia);
}

h3 {
   font-size: 1.1rem;
   font-weight: 500;
   color: var(--darkishArancia);
}

p {
   font-size: 1rem;
   font-weight: 500;
   color: var(--Arancia);
}

p.italic {
   font-size: 1rem;
   font-style: italic;
   font-weight: 400;
   color: var(--Arancia);
}
