:root {
  --maxWidth: 1440px;
  --white: #fff;
  --medGrey: #c4c4c4;
  --darkArancia: #1a0a00;
  --darkishArancia: #803300;
  --Arancia: #b24700;
  --lightArancia: #dfb99f;
  --yellowArancia: #f9d423;
  --lightBrown: #8c6b5b;
  --lightPink: #e7d1c9;
  --fontSuperBig: 2.5rem;
  --fontBig: 1.5rem;
  --fontMed: 1.2rem;
  --fontSmall: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-title {
  text-align: center;
  margin: 60px 0px 30px 0px;
}

.project-title {
  text-align: center;
  margin: 40px 0px 30px 0px;
}

.task-title {
  text-align: center;
  margin: 20px 0px 30px 0px;
}

.card {
  position: relative;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 25px;
  margin-bottom: 30px;
  background-color: var(--white);
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0px 4px 8px -2px rgba(255, 209, 179, 0.4);
}

.card > .members-container {
  width: 40%;
  max-width: var(--maxWidth) * 0.4;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card > .members-container > p {
  margin-right: 8px;
}
.card > .status-bar {
  position: absolute;
  font-size: 14px;
  bottom: 15px;
  right: 15px;
}

.info-box {
  text-align: center;
  padding: 25px;
  margin-bottom: 58px;
  background-color: var(--white);
  border-radius: 20px;
  flex-grow: 1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--darkishArancia);
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--darkishArancia);
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--darkishArancia);
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--Arancia);
}

p.italic {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  color: var(--Arancia);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--fontBig);
  }

  h2 {
    font-size: var(--fontMed);
  }
}
